
body{
	background-color: black;
}
	@media print{
		.botao-imprimir{
			display: none;
		}

		.exibir{
			display: inline-block;
			background-color: blue;

		}
	}

	.exibir{
		display: inline-block;
		background-color: blue;

	}

	.botao-imprimir{
		margin-top: 30px;
		width: 62px;
		height: 16px;
		cursor: pointer;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #050505;
		padding: 10px 20px;
		background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #c7d95f),
		color-stop(0.50, #add136),
		to(#6d8000));
	background: linear-gradient(
		top,
		#ffffff 0%,
		#c7d95f 50%,
		#add136 50%,
		#6d8000);
	border-radius: 14px;
	border: 1px solid #6d8000;
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.4);



}
	