/*===============================================
  Tables
================================================= */

table {
  background-color: @table-bg;
}
th {
  text-align: left;
}

// Baseline styles

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0; // changed
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: @table-cell-padding;
        line-height: @line-height-base;
        vertical-align: middle;
        //border-top: 1px solid @table-border-color;
        @media (min-width: 1200px) {
          padding-left: 20px;
          padding-right: 22px;
        }
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    font-weight: 600;
    vertical-align: bottom;
    border-bottom: 1px solid @table-border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid @table-border-color;
  }
  
  tbody > tr:first-child > td { border-top: 0 }

  // Nesting
  .table {
    margin-bottom: 0;
    background-color: @body-bg;
  }
}


// Condensed table w/ half padding

.table-condensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: @table-condensed-cell-padding;
      }
    }
  }
}


// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
  border: 1px solid @table-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid @table-border-color;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  > tbody > tr:nth-child(odd) {
    > td,
    > th {
      background-color: @table-bg-accent;
    }
  }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    > td,
    > th {
      background-color: @table-bg-hover;
    }
  }
}

// Table Curved
.table-curved > tbody > tr > td {
  &:first-child { border-radius: 4px 0 0 4px; }
  &:last-child { border-radius: 0 4px 4px 0; }
}



// Table cell sizing
//
// Reset default table behavior

table col[class*="col-"] {
  position: static; // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
  float: none;
  display: table-column;
}
table {
  td,
  th {
    &[class*="col-"] {
      position: static; // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
      float: none;
      display: table-cell;
    }
  }
}


// Manual "default" table styling
.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
  > td.default,
  > th.default,
  &.default > td,
  &.default > th {
    color: #777;
    border-color: #ddd; // added
    background-color: #f0f0f0;
  }
}
// Hover states for `.table-hover`
// Note: this is not available for cells or rows within `thead` or `tfoot`.
.table-hover > tbody > tr {
  > td.default:hover,
  > th.default:hover,
  &.default:hover > td,
  &:hover > .default,
  &.default:hover > th {
    background-color: #fcfcfc;
  }
}


// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

.table-responsive {
  @media screen and (max-width: @screen-xs-max) {
    width: 100%;
    margin-bottom: (@line-height-computed * 0.75);
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid @table-border-color;
    -webkit-overflow-scrolling: touch;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }
          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot {
        > tr:last-child {
          > th,
          > td {
            border-bottom: 0;
          }
        }
      }

    }
  }
}
.table.progress-table{
  tr{
    position: relative;
    td:nth-child(2) {
      padding: 0;
      padding-top: 5px;
      position: absolute;
      left: 0;
      right: 0;
    }
    .progress{
      background-color: transparent !important;

      margin-bottom: 0;
      min-height: 29px;

      border-radius: 0;
      .progress-bar{
        color: #797b7c;
        text-align: right;

        padding-right: 15px;

        font-size: 15px;
        font-weight: 700;
        line-height: 30px;
      }
      .progress-bar-light{
        background-color: #e8e8e8;
      }
    }
  }
}
.table.borders{
  tbody{
    tr + tr{
      border-top: 1px solid #dfdfdf;
    }
  }
}
.table.borders-dark{
  tbody{
    tr + tr{
      border-top: 1px solid #bababa;
    }
  }
}